/* Reset mặc định */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
}

/* Canh giữa ứng dụng */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
